* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Tahoma, Serif;
  color: #263238;
}

nav {
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
}

nav a {
  text-decoration: none;
  color: black;
  padding: 24px 32px;
}

nav a:hover {
  text-decoration: underline;
}

#page-body {
  max-width: 700px;
  margin: auto;
  padding-top: 72px;
}

.fact-list-item {
  text-decoration: none;
  color: black;
  padding: 16px 0 0 0;
}

.fact-list-item p {
  padding-bottom: 32px;
  border-bottom: 2px solid black;
}

.comment {
  border-bottom: 2px solid black;
  padding: 16px;
}

button {
  background-color: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

#upvotes-section button,
p {
  display: inline-block;
  margin-right: 16px;
}

#add-comment-form {
  border-bottom: 2px solid black;
  padding: 16px;
}

#add-comment-form h3 {
  margin-bottom: 16px;
}

#add-comment-form button {
  width: 320px;
}

.error {
  padding: 8px;
  border-radius: 4px;
  background-color: pink;
}
